{% extends "base.html" %}
{% block title %}
Inquilino
{% endblock %}
{% block content %}
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="{{ url_for('registros') }}">Regresar</a></li>
</ul>
<form method="post" action="{{ url_for('inquilino') }}">
  <div class="form-group">
    <label>NIF Inquilino</label>
    <input name="id" type="text" class="form-control" placeholder="NIF">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Nombre</label>
      <input name="nombre" type="text" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label >Apellidos</label>
      <input name="apellidos" type="text" class="form-control" placeholder="Apellidos">
    </div>
  </div>
  <div class="form-group">
    <label >Fecha Nacimiento</label>
    <input name="fecha_nacimiento" type="text" class="form-control" placeholder="YYYY/MM/DD">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label >Descripción</label>
      <input name="descripcion" type="text" class="form-control" placeholder="Descripción">
    </div>
    <div class="form-group col-md-5">
      <label >Telefono</label>
      <input name="telefono" type="text" class="form-control" placeholder="Telefono">
    </div>
  </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-primary" value="Inquilino">Registrar</button>
</form>
{% endblock %}